.data-day{
    width: 100%;
    font-size: 18px;
    padding: 10px 15px;
}

.data-day .data-ui-icon{
    width: 20px;
    height: 20px;
}

.data-day-row{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto 360px 140px 120px 120px;
    justify-items: center;
    align-items: center;
    padding: 15px 10px;
    background: var(--primary);
    border-radius: 5px;
    box-shadow: 0px 2px 2px #1e27312a;
    user-select: none;
}

.data-day-row-selected{
    background: var(--accent-color-dark);
}

.data-day-header{
    width: 100%;
    background: transparent;
    box-shadow: none;
    margin-bottom: 10px;
}

.data-day-wrapper{
    height: auto;
    width: 100%;
    background-color: var(--primary-bg); 
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-bottom: 20px;
}

.data-day-row div{
    
}

.data-day .data-card{
}


.hourly-row > .val{
    font-weight: 400;
}

.day-data{
    display: flex;
    gap: 8px;
}

.day-time{
    font-weight: 600;
}

.day-alert-lvl-dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.day-condition{
    display: flex;
    gap: 8px;
}

.data-day-details{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease;
}

.details-show{
    max-height: 500px;
    opacity: 1;
}

.extend-details-list{
    font-size: 18px;
    margin-top: 20px;
    padding: 0 1.2rem 1.2rem 1.2rem;
}

.extend-details-list .data-card{
    display: flex;
    padding: 1rem 1.6rem;
    border-radius: 10px;
}

.extend-details-list .data-label{
    font-size: 16px;
}

.extend-details-list .data-current-wave, .data-current-swell{
    margin-bottom: 10px;
}

.extend-details-list .data-current-other-list{
    column-gap: 8px;
    row-gap: 10px;
}