.dashboard-wrapper{
    display: block;
    width: 100dvw;
    height: auto;
    padding: 0 340px;
}

.dashboard{
    background: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: fit-content;
    width: 100%;
    padding: 0 1.8rem;
}

.dashboard .loader, .dashboard .err-dashboard{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dashboard-header{
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
    height: 410px;
    background: #29415e;
    background: linear-gradient(152deg,rgba(41, 65, 94, 1) 51%, rgba(88, 132, 166, 1) 100%);
    color: var(--secondary-color);
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgba(19, 19, 19, 0.6);
    padding: 2rem 2.4rem;
    margin-top: 15px;
    margin-bottom: 20px;
}

.dashboard-header .header-city-name{
    display: flex;
}

.header-city-name *{
    flex: 1;
}

.dashboard-data{
    width: 100%;
    height: fit-content;
    padding: 2rem 1.8rem;
}

.dashboard-data *{

}

.data-card{
    height: auto;
    background: var(--primary-alt-bg);
    border-radius: 24px;
    padding: 1.4rem;
    box-shadow: 0px 2px 2px #1e27312a;
}

.data-featured{
    height: auto;
    width: fit-content;
    background: var(--primary-alt-bg);
    border-radius: 30px;
    padding: 0.6rem 1rem;
    border: solid 1px var(--primary-border-color);
    box-shadow: 0px 2px 2px #1e27312a;
}

.data-current{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.current-condition{
    width: 100%;
    display: flex;
    gap: 40px;
}

.condition-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}

.condition-details .details-header{
    height: auto;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 15px;
}

.details-alert{
    height: fit-content;
}

.details-alertLvl{
    font-size: 13px;
    border-radius: 30px;
    padding: 2px 10px;
    box-shadow: 0px 1px 1px rgba(23, 30, 39, 0.397);
}

.condition-details .details-subheader{

}

.current-weather-pin{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 15px;
    justify-content: space-between;
}

.weather-pin{
    height: 150px;
    max-height: 150px;
    padding: 1.4rem;
}

.pin-date{
    width: 100%;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.time-data{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.time-icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.other-data{
    width: 100%;
    text-align: center;
    margin-left: 4px;
}

.date{
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.pin-wind{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pin-wind .wind-speed, .pin-wind .wind-unit{
    z-index: 10;
}

.pin-wind .wind-speed{
    font-size: 1.2rem;
    font-weight: 600;
}

.icon-wind-direction::before, .icon-wind-direction .icon-arrow{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.icon-wind-direction::before{
    background-image: url("/ui-icons/wind-direction-frame.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-wind-direction .icon-arrow{
    background-image: url("/ui-icons/wind-direction-arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.pin-wave{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.pin-wave .icon-wave, .pin-wave .wave-period{
    flex: 1fr;
}

.pin-wave .wave, .pin-wave .wave-direction{
    flex: 1fr;
    font-weight: 600;
}

.pin-wave .wave{
    font-size: 1.25rem;
}

/* CURRENT SEA WAVES */

.current-card{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-header{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--primary-alt-color);
}

.card-data{
    height: auto;
    max-height: 240px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 0px;
}

.data-specific{
    background: var(--primary-highlight);
    padding: 0.2rem 0.6rem;
    border: none;
}

.current-wind{
    gap: 5px;
}

.wind-data{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.wind-data .wind-speed, .wind-data .wind-direction, .wind-data .gust{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.weather-data{
    height: auto;
    max-height: 190px;
}