.dashboard-wrapper{
    display: block;
    width: 100dvw;
    height: auto;
    padding: 0 340px;
}

.val{
    font-family: var(--secondary-font);
}

.data-card{
    height: auto;
    width: auto;
    background: var(--primary);
    border-radius: 24px;
    padding: 2.6rem;
    box-shadow: 0px 2px 2px #1e27312a;
}

.data-featured{
    height: auto;
    width: fit-content;
    background: var(--primary-alt-bg);
    border-radius: 30px;
    padding: 0.6rem 1rem;
    border: solid 1px var(--primary-border-color);
    box-shadow: 0px 2px 2px #1e27312a;
}

.header{
    height: 40px;
    width: 1140px;
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    padding: 0.6rem 1.6rem;
    z-index: 40;
}

.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 100dvh;
    height: fit-content;
    width: 100%;
    padding: 0 1.8rem;
}

.dashboard .loader, .dashboard .err-dashboard{
    position: absolute;
    bottom: 140px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.dashboard-banner{
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
    height: 600px;
    color: var(--primary-color);
    border-radius: 20px;
    padding: 1rem 2.6rem;
    margin-top: 15px;
}

.dashboard-banner .dashboard-banner-header{
    display: flex;
}

.banner-header-city-name {
    flex: 1 1;
    font-size: 36px;
}

.banner-header-coord{
    width: auto;
    font-family: var(--secondary-font);
    font-size: 18px;
    text-align: right;
    background: var(--primary);
    padding: 5px 10px;
    border-radius: 10px;
}

.dashboard-data{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    height: fit-content;
    padding: 2rem 1.8rem;
    margin-top: 10px;
}

.data-pin{
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.data-pin-top{
    display: flex;
    gap: 24px;
}

.pin-condition{
    flex: 1 1;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
}

.pin-condition-header{
    font-size: 18px;
}

.condition-header-day{
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 14px;
}

.condition-header-code{
    font-size: 32px;
    font-weight: 800;
}

.pin-condition-icon{
    width: 140px;
    height: auto;
    display: flex;
    gap: 10px;
    align-items: center;
    gap: 20px;
}

.pin-condition-icon img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.data-pin-details{
    display: flex;
    font-size: 18px;
    border-top: var(--primary-border);
    padding: 14px 0;
    gap: 28px
}

.data-pin-details-time{
    flex: 1 1;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    border-right: var(--primary-border);
}

.data-pin-details-condition{
    height: auto;
    width: 140px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pin-details-condition .data-ui-icon{
    width: 18px;
    height: 18px;
}

.pin-details-condition{
    display: flex;
    width: 100%;
}

.pin-time{
    font-size: 40px;
    font-weight: 600;
    font-family: var(--secondary-font);
    padding: 0.5rem 2rem;
    border-radius: 15px;
}

.pin-time-others{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pin-date{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
}

.pin-solar{
    display: flex;
    font-size: 18px;
    gap: 10px;
}

.condition-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    padding-left: 40px;
}

.condition-details .details-header{
    height: auto;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 15px;
}

.pin-condition-alert{
    height: fit-content;
}

.pin-condition-alertLvl{
    font-size: 13px;
    border-radius: 30px;
    padding: 2px 10px;
    box-shadow: 0px 1px 1px rgba(23, 30, 39, 0.397);
}

.pin-condition-time{
    font-size: 18px;
    
}

.pin-condition-time span{
    font-family: var(--secondary-font);
}

.condition-details .details-subheader{

}

.data-mode{
    height: auto;
    width: auto;
    padding: 0px 10px;
    display: flex;

}

.data-mode-btn{
    all: unset;
    font-family: var(--primary-font);
    font-size: 24px;
    color: var(--primary-color);
    text-transform: uppercase;
    cursor: pointer;
    padding: 8px 20px;
}

.data-mode-btn:hover{
    color: var(--accent-color);
}

.mode-selected{
    height: auto;
    background: var(--primary);
    color: var(--accent-color);
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0px 2px 2px #1e27312a;
}

.divider{
    height: 50px;
    width: 1px;
    background: rgba(0,0,0,1);
    margin: 0px 10px;
}

.data-header{
    padding: 0.6rem 0;
    border-bottom: var(--primary-border);
    margin-bottom: 28px;
}

.data-ui-icon{
    width: 24px;
    height: 24px;
}

.data-label{
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-right: auto;
}

.data-current .val{
    font-size: 20px;
    font-weight: 600;
    word-spacing: 6px;
    text-transform: initial;
}

.data-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}