@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.search-wrapper{
    width: 600px;
    height: fit-content;
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    background: #2d2d3f;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 1rem;
    color: #f4f4f4ff;
    overflow-y:auto;
    padding: 0px 10px;
    z-index: 10;
}

.search-ctrl{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.search-input{
    width: 100%;
    height: 30px;
    background: rgb(241, 241, 241);
    font-size: 1rem;
    font-family: "Montserrat", Arial, sans-serif;
    padding: 2px;
}

.search-result-list{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.search-result-list-item{
    padding: 5px 0px;
    cursor: pointer;
    background: transparent;
}

.search-result-list-item:hover{
    background: #525277;
}