@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.search-wrapper{
    width: 35%;
    height: fit-content;
    display: block;
    background: var(--primary);
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 1rem;
    color: var(--primary-color);
    overflow-y:auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px #1616166c;
    z-index: 10;
}

.search-ctrl{
    display: flex;
    justify-content: start;
    align-items: center;
}

.search-input{
    flex: 1 1;
    height: 30px;
    background: rgb(241, 241, 241);
    font-size: 1rem;
    font-family: "Montserrat", Arial, sans-serif;
    padding: 2px;
}

.search-btn{
    width: 30px;
    height: 30px;

}

.search-result-list{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 10px;
}

.search-result-list-item{
    padding: 5px 0px;
    cursor: pointer;
    background: transparent;
}

.search-result-list-item:hover{
    background: #525277;
}