@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fjord+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
      --primary: rgba(235, 235, 235, 1);
      --primary-10: rgb(225, 228, 231);
      --primary-bg: rgb(214, 222, 226);
      --primary-alt-bg: rgb(46, 70, 99);
      --secondary-bg: rgb(95, 202, 179);
      --primary-color: rgb(20, 20, 20);
      --primary-alt-color: rgb(108, 121, 133);
      --secondary-color: rgb(235, 235, 235);
      --accent-color: rgb(40, 128, 228);
      --primary-highlight: rgb(122, 175, 206);
      --primary-border: 1px solid rgb(99, 106, 131);
      --primary-border-color: rgb(99, 106, 131);
      --primary-font: "Fjord One", sans-serif, Arial;
      --secondary-font: "Barlow Semi Condensed", serif;
}


body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  font-family: var(--primary-font),
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-wrapper{
      height: auto;
      min-height: 100dvh;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-x: hidden;
      background: var(--primary-bg);
}

.coordinates{
      background: 
rgba(0, 0, 0, 0.5);
      color: 
#fff;
      position: absolute;
      bottom: 0px;
      left: 10px;
      padding: 5px 10px;
      margin: 0;
      font-size: 18px;
      line-height: 24px;
      border-radius: 3px;
      text-align: left;
      display: none;
  }

.map-marker{
      width: 50px;
      height: 50px;
      color: red;
      background-image: url("https://www.shareicon.net/data/512x512/2015/09/21/644181_sailing_512x512.png");
      background-size: contain;
      background-repeat: no-repeat;
      filter: drop-shadow(0px 5px 5px rgba(255, 255, 255, 0.781));
}

.maplibregl-ctrl-top-left {
    padding-top: 20px;
    padding-left: 20px;
    width: 400px;
}

/* UI Classes */

.map-wrap{
      z-index: 10;
}

.search-wrapper{
      position: absolute;
      top: 65px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 15;
}

.dashboard{
    z-index: 1;
}