@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
      --primary: rgb(235, 235, 235);
      --primary-bg: rgba(207, 207, 207, 0.80);
      --primary-alt-bg: rgb(233, 233, 233);
      --secondary-bg: rgb(95, 202, 179);
      --primary-color: rgb(20, 20, 20);
      --primary-font: Montserrat, sans-serif, Arial;
}


body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  font-family: var(--primary-font),
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-wrapper{
      position: relative;
}

.coordinates{
      background: 
rgba(0, 0, 0, 0.5);
      color: 
#fff;
      position: absolute;
      bottom: 0px;
      left: 10px;
      padding: 5px 10px;
      margin: 0;
      font-size: 18px;
      line-height: 24px;
      border-radius: 3px;
      text-align: left;
      display: none;
  }

.map-marker{
      width: 50px;
      height: 50px;
      color: red;
      background-image: url("https://www.shareicon.net/data/512x512/2015/09/21/644181_sailing_512x512.png");
      background-size: contain;
      background-repeat: no-repeat;
      filter: drop-shadow(0px 5px 5px rgba(255, 255, 255, 0.781));
}

.maplibregl-ctrl-top-left {
    padding-top: 20px;
    padding-left: 20px;
    width: 400px;
}

/* UI Classes */

.search-wrapper{
      position: absolute;
      top: 15px;
      left: 25px;
}

.dashboard-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}