@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


.main-wrapper{
      position: relative;
}

.coordinates{
      background: 
rgba(0, 0, 0, 0.5);
      color: 
#fff;
      position: absolute;
      bottom: 0px;
      left: 10px;
      padding: 5px 10px;
      margin: 0;
      font-size: 18px;
      line-height: 24px;
      border-radius: 3px;
      text-align: left;
      display: none;
  }

.map-marker{
      width: 50px;
      height: 50px;
      color: red;
      background-image: url("https://www.shareicon.net/data/512x512/2015/09/21/644181_sailing_512x512.png");
      background-size: contain;
      background-repeat: no-repeat;
      filter: drop-shadow(0px 5px 5px rgba(255, 255, 255, 0.781));
}

.maplibregl-ctrl-top-left {
    padding-top: 20px;
    padding-left: 20px;
    width: 400px;
}

.panel{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 40%;
    height: 100vh;
    backdrop-filter: blur(10px);
    background: #0f0f0fde;
    box-shadow: 5px 5px 15px #1616166c;
}

.panel-wrapper{
    display: block;
    position: relative;
}